{% extends "registration/base.html" %}
{% block content %}
<div class="flex">
    <div class="m-auto">
        {% if validlink %}

        <h1 class="text-white text-2xl">Enter your new password:</h1>
            <p class="text-white text-l">
            Please type your password twice and remember to check the valid syntax in your password
            </p>
            <form method="post">
            {% csrf_token %}
            <div class="mt-1">
            <label for="new_password1:" class="text-white text-2xl">New Password:</label>
            {{ form.new_password1 }}
            </div>
            <div class="mt-1 text-white text-2xl">
            <label for="new_password2:" class="text-white text-2xl">Confirm Password:</label>
            {{ form.new_password2 }}
            </div>
            <div>
                <input type="submit" value="Change Password" class="border rounded p-2 bg-green-700 text-white cursor-pointer"/>
            </div>
            </form>
        {% else %}
        <h1 class="text-white text-8xl">Reset unsuccessfully</h1>
        <p class="text-white text-2xl">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset link.
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}